<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>

  <body>
    <header>
      <a href="/" class="logo"><img class="logo" src="./images/cat.jpeg" href="/" alt="cat logo"></a>
      <h1 class="title">
        <a href="/" class="title">Cat Blog</a>
      </h1>
    </header>
    <div>
      <h2>Welcome to the {{title}}</h2>
    </div>
    <div class="flexBox">
      <nav>
        <ul>
          <li><a href="create">New Entry</a></li>
          <li><a href="edit">Edit Entry</a></li>
          <li><a href="delete">Delete Entry</a></li>
        </ul>
      </nav>
      <div class="entries">
        <ul>
          {% for txt in data%}
            <section class="container">
              <h4>Cat {{txt.id}}: {{txt.title}}</h4>
              <p>{{txt.entry}}</p>
            </section>
          {% endfor%}
        </ul>
      </div>
    </div>
  </body>
</html>